@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   font-family: "Montserrat", sans-serif;
}

.center {
   padding: 0 calc(50% - 600px);
}
@media screen and (max-width: 1024px) {
   .center {
      padding: 0 calc(50% - 393px);
   }
}
@media screen and (max-width: 833px) {
   .center {
      padding: 0 24px;
   }
}
@media screen and (max-width: 767px) {
   .center {
      padding: 0 16px;
   }
}

a {
   text-decoration: none;
   color: inherit;
}

button {
   padding: 0;
   border: none;
   outline: none;
   background-color: transparent;
}

.link-hover:hover {
   text-decoration: underline;
}

.section-heading {
   font-weight: 600;
   font-size: 48px;
   line-height: 59px;
   margin-bottom: 32px;
   color: #000000;
}
@media screen and (max-width: 833px) {
   .section-heading {
      font-size: 47px;
   }
}
@media screen and (max-width: 767px) {
   .section-heading {
      font-size: 24px;
      line-height: 29px;
   }
}

.heading-section {
   height: 400px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: #FFFFFF;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
}
.heading-section__title {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   font-weight: 600;
   font-size: 64px;
   line-height: 70px;
}
@media screen and (max-width: 767px) {
   .heading-section__title {
      font-size: 48px;
      line-height: 58px;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin-top: 82px;
   }
}

.app-icon {
   -webkit-transition: opacity 0.3s ease-out, fill 0.3s ease-out;
   transition: opacity 0.3s ease-out, fill 0.3s ease-out;
}

.header {
   height: 77px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: nowrap;
       flex-wrap: nowrap;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 767px) {
   .header {
      border-bottom: none;
      height: 89px;
      padding-top: 32px;
   }
}
@media screen and (max-width: 767px) {
   .header__logo {
      width: 99px;
      height: 22px;
   }
   .header__logo img {
      width: 100%;
      height: 100%;
   }
}
.header__search-field {
   width: 288px;
   height: 41px;
   border: 1px solid #FFFFFF;
   border-radius: 20px;
   background-color: transparent;
   outline: none;
   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
   padding: 0 32px;
}
.header__search-field::-webkit-input-placeholder {
   color: #FFFFFF;
}
.header__search-field::-moz-placeholder {
   color: #FFFFFF;
}
.header__search-field:-ms-input-placeholder {
   color: #FFFFFF;
}
.header__search-field::-ms-input-placeholder {
   color: #FFFFFF;
}
.header__search-field::placeholder {
   color: #FFFFFF;
}
@media screen and (max-width: 767px) {
   .header__search-field {
      display: none;
   }
}
.header .navigation {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 32px;
}
.header .navigation-link {
   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
}
@media screen and (max-width: 767px) {
   .header .navigation {
      display: none;
   }
}
.header .navigation-mobile {
   display: none;
   gap: 32px;
}
.header .navigation-mobile__link {
   cursor: pointer;
   text-decoration: none;
   display: block;
}
.header .navigation-mobile__link .app-icon {
   fill: #FFFFFF;
}
.header .navigation-mobile__link .app-icon:hover {
   opacity: 0.7;
}
@media screen and (max-width: 767px) {
   .header .navigation-mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
   }
}

.footer {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   margin-top: 64px;
   background-color: #F7F6F6;
   padding-top: 32px;
   padding-bottom: 40px;
}
@media screen and (max-width: 1024px) {
   .footer .footer-logo {
      display: none;
   }
}
@media screen and (max-width: 767px) {
   .footer {
      margin-top: 32px;
      padding-bottom: 32px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
   }
   .footer .footer-form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      margin-top: 32px;
   }
}
.footer .footer-column--central {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 120px;
}
@media screen and (max-width: 1024px) {
   .footer .footer-column--central {
      gap: 130px;
   }
}
@media screen and (max-width: 767px) {
   .footer .footer-column--central {
      display: -ms-grid;
      display: grid;
      gap: 16px;
      -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
      grid-template-columns: repeat(4, 1fr);
   }
   .footer .footer-column--central .footer-menu, .footer .footer-column--central .footer-contacts {
      -ms-grid-column-span: 2;
      grid-column: span 2;
   }
}
.footer .footer-menu,
.footer .footer-contacts,
.footer .subscribe-form {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
}
.footer .footer-socials {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 18px;
   margin-top: 16px;
}
.footer .social-link {
   width: 24px;
   height: 24px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}
.footer .social-link .app-icon {
   fill: #888888;
}
.footer .social-link .app-icon:hover {
   fill: #000000;
}
.footer .footer-heading {
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   color: #000000;
}
.footer .footer-link {
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   margin-top: 12px;
   color: #888888;
   -webkit-transition: color 0.3s ease-out;
   transition: color 0.3s ease-out;
}
.footer .footer-link:hover {
   color: #000000;
   text-decoration: underline;
}
.footer .subscribe-form__title {
   font-size: 12px;
   line-height: 14px;
   margin-bottom: 16px;
   color: #000000;
}
.footer .subscribe-form__input {
   background: #FFFFFF;
   height: 46px;
   width: 275px;
   padding: 0 25px;
   margin-bottom: 12px;
   border: 1px solid #C4C4C4;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   border-radius: 20px;
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 18px;
   outline: none;
}
.footer .subscribe-form__input::-webkit-input-placeholder {
   color: #C4C4C4;
}
.footer .subscribe-form__input::-moz-placeholder {
   color: #C4C4C4;
}
.footer .subscribe-form__input:-ms-input-placeholder {
   color: #C4C4C4;
}
.footer .subscribe-form__input::-ms-input-placeholder {
   color: #C4C4C4;
}
.footer .subscribe-form__input::placeholder {
   color: #C4C4C4;
}
@media screen and (max-width: 767px) {
   .footer .subscribe-form__input {
      width: 268px;
   }
}
.footer .subscribe-form__submit {
   background: rgba(222, 215, 215, 0.41);
   border: 1px solid #FFFFFF;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   border-radius: 20px;
   width: 275px;
   height: 46px;
   font-size: 15px;
   line-height: 18px;
   color: #000000;
   cursor: pointer;
   -webkit-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}
.footer .subscribe-form__submit:hover {
   background-color: #000000;
   border-color: #000000;
   color: #FFFFFF;
}
@media screen and (max-width: 767px) {
   .footer .subscribe-form__submit {
      width: 268px;
      font-size: 14px;
      line-height: 17px;
   }
}
.footer .text-logo {
   font-weight: 600;
   font-size: 36px;
   line-height: 44px;
}

.product-card {
   max-width: 378px;
   position: relative;
}
@media screen and (max-width: 833px) {
   .product-card {
      max-width: 345px;
   }
}
.product-card__title {
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   margin-bottom: 8px;
   color: #000000;
}
@media screen and (max-width: 767px) {
   .product-card__title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
   }
}
.product-card__image {
   width: 100%;
   margin-bottom: 10px;
}
.product-card__caption {
   font-size: 14px;
   line-height: 17px;
   margin-bottom: 12px;
   color: #888888;
}
@media screen and (max-width: 767px) {
   .product-card__caption {
      margin-bottom: 8px;
   }
}
.product-card__price-container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 32px;
}
.product-card__price {
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   color: #000000;
}
.product-card__price--old {
   -webkit-text-decoration-line: line-through;
           text-decoration-line: line-through;
   color: #888888;
}
@media screen and (max-width: 767px) {
   .product-card__price {
      font-size: 18px;
      line-height: 22px;
   }
}
.product-card__actions {
   position: absolute;
   top: 10px;
   right: 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 21px;
   opacity: 0;
   -webkit-transition: opacity 0.3s ease-out;
   transition: opacity 0.3s ease-out;
}
.product-card__action {
   width: 24px;
   height: 24px;
   cursor: pointer;
}
.product-card__action .app-icon {
   fill: #FFFFFF;
}
.product-card__action .app-icon:hover {
   opacity: 0.7;
}
.product-card:hover .product-card__actions {
   opacity: 1;
}

.catalog-heading-section {
   background-image: url(../../assets/backgrounds/catalog-heading.jpg);
}

.products-section {
   margin-top: 64px;
}
@media screen and (max-width: 767px) {
   .products-section {
      margin-top: 32px;
   }
}
.products-section__top {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
   .products-section__top {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      gap: 16px;
   }
}
.products-section__nav {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: nowrap;
       flex-wrap: nowrap;
}
.products-section__nav-item {
   font-size: 16px;
   line-height: 32px;
   color: #000000;
}
@media screen and (max-width: 767px) {
   .products-section__nav-item {
      font-size: 14px;
   }
}
.products-section__nav .nav-item-divider {
   display: inline-block;
   margin: 0 10px;
   font-size: 16px;
   line-height: 32px;
}
@media screen and (max-width: 767px) {
   .products-section__nav .nav-item-divider {
      font-size: 14px;
   }
}
.products-section__product-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-column-gap: 32px;
      -moz-column-gap: 32px;
           column-gap: 32px;
   row-gap: 56px;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
   .products-section__product-list {
      -webkit-column-gap: 29px;
         -moz-column-gap: 29px;
              column-gap: 29px;
      row-gap: 30px;
   }
}
.products-section__link {
   display: inline-block;
   margin-top: 39px;
   font-size: 16px;
   line-height: 24px;
   text-decoration: underline;
   -webkit-transition: color 0.3s ease-out;
   transition: color 0.3s ease-out;
}
.products-section__link:hover {
   color: #888888;
   text-decoration: none;
}
@media screen and (max-width: 1024px) {
   .products-section__link {
      margin-top: 32px;
   }
}

.products-section__sorting-container {
   position: relative;
   width: 288px;
   height: 41px;
}

.products-section__sorting-label {
   display: block;
   position: absolute;
   top: 50%;
   -webkit-transform: translateY(-50%);
           transform: translateY(-50%);
   right: 20px;
   height: 24px;
   width: 24px;
}
.products-section__sorting-label .app-icon {
   fill: #000000;
}

.products-section__sorting {
   position: relative;
   -webkit-appearance: none;
   -moz-appearance: none;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   width: 100%;
   height: 100%;
   padding-left: 14px;
   padding-right: 40px;
   border: 1px solid #C4C4C4;
   border-radius: 20px;
   font-size: 16px;
   line-height: 20px;
   outline: none;
   cursor: pointer;
   background-color: transparent;
   z-index: 10;
}
@media screen and (max-width: 767px) {
   .products-section__sorting {
      font-size: 14px;
      line-height: 17px;
   }
}